*.class

# Package Files #
*.war
*.ear

/MobilisServer/bin

/MobilisXMPP/bin
/SportEventAnalyserClient/bin
/TrafficInflator/bin
/SportEventAnalyserService/bin
/SimpleGenerator/bin
/GameFileMapper/bin

/Scratch/XSLTTestService/bin
/Scratch/XSLTTestClient/bin
/SportEventAnalyserJingle/bin
