li {
  list-style: none;
}
article {
  display: table;
  width: 100%;
}
#content {
  display: table-row;
}
#team_a, #team_b {
  height: 240pt;
  width: 100%;
  vertical-align: top;
}
#team_a input, #team_b input {
  border: none;
}
#goals {
  text-align: center;
}
#left {
  width: 33%;
  display: table-cell;
}
#right {
  width: 33%;
  display: table-cell;
}
#field {
  display: table-cell;
}
