li {
  list-style: none;
}
article {
  display: table;
  width: 100%;
  #content {
    display: table-row;
    #left, #right {
      width: 33%;
      display: table-cell;
      #team_a, #team_b {
        height: 240pt;
        width: 100%;
        vertical-align: top;
        .smallinfo {
          img {
            max-height: 16pt !important;
            max-width: 16pt;
          }
        }
      }
      #player_a_stats, #player_b_stats {
        table {
          width: 100%;
          height: 200pt;
        }
        #player_a_plot, #player_b_plot {
          height: 50pt;
          width: 200pt;
        }
      }
    }
    #team_a input, #team_b input {
      border: none;
    }
    #goals {
      text-align: center;
    }
    #field {
      display: table-cell;
    }
  }
}
