@import "reset";
@import "palette";
@import "layout";
@import "widgets";

// Styles

html {
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  font-family: DejaVu Sans, Helvetica;
}

header, footer {
  font-size: 8pt;
}

video {
  display: none;
  width: 100%;
  height: 128pt;
  border: 1pt solid #000;
}

#goals {
  h1 {
    font-size: 19pt;
  }
}

#content {
  display: table-row;
  #right, #left {
    width: 33%;
    display: table-cell;
    input[type="checkbox"] {
    }
    .team {
      .infobox;
      .colored_table;
      overflow: auto;
    }
    #player_a_stats, #player_b_stats {
      .infobox;
      table {
        .colored_table;
      }
    }
  }

  #center {
    #gametrack {
      .infobox;
      margin-top: @generous_margin;
      padding: 5pt;
      height: 42pt;
      #image {
        margin: 0 auto;
        #start, #cur, #mid, #end {
          stroke: white;
          stroke-width: 1pt;
        }
        #centerline {
          stroke: white;
          stroke-width: 3pt;
        }
      }
    }
    #perspectives_menu {
      .radio_menu;
      width: 100%;
      padding: 0;
      margin: 5pt 5pt 2pt 5pt;
    }
    #field, #heatmap {
      .infobox;
    }
    #heatmap_area {
      background: url("img/Fussballfeld.svg") center center no-repeat;
    }
    .commentator {
      .infobox;
      text-align: center;
      height: 16pt;
      .says {
        width: 89%;
        float: left;
      }
      .prob_bars {
        width: 10%;
        float: left;
        div {
          height: 16pt;
          width: 33%;
          float: left;
          vertical-align: bottom;
          bottom: 0;
        }
        div:nth-child(0) {
          background-color: @blue;
        }
        div:nth-child(1) {
          background-color: @red;
        }
        div:nth-child(2) {
          background-color: @green;
        }
      }
    }
  }
}
