/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* light is default mode, so pair with general html definition */
.light {
  background-color: #fdf6e3;
  color: #6a8365;
}
.light * {
  color: #6a8365;
}
.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6 {
  color: #5e7658;
  border-color: #6a8365;
}
.light a,
.light a:active,
.light a:visited {
  color: #5e7658;
}
html,
.dark {
  background-color: #0d3600;
  color: #8a9684;
}
html *,
.dark * {
  color: #8a9684;
}
html h1,
.dark h1,
html h2,
.dark h2,
html h3,
.dark h3,
html h4,
.dark h4,
html h5,
.dark h5,
html h6,
.dark h6 {
  color: #99a193;
  border-color: #8a9684;
}
html a,
.dark a,
html a:active,
.dark a:active,
html a:visited,
.dark a:visited {
  color: #99a193;
}
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}
li {
  list-style: none;
}
article {
  display: table;
  width: 100%;
}
article #content {
  display: table-row;
}
article #content #left,
article #content #right {
  width: 33%;
  display: table-cell;
}
article #content #left #team_a,
article #content #right #team_a,
article #content #left #team_b,
article #content #right #team_b {
  height: 240pt;
  width: 100%;
  vertical-align: top;
}
article #content #left #team_a .smallinfo img,
article #content #right #team_a .smallinfo img,
article #content #left #team_b .smallinfo img,
article #content #right #team_b .smallinfo img {
  max-height: 16pt !important;
  max-width: 16pt;
}
article #content #left #player_a_stats table,
article #content #right #player_a_stats table,
article #content #left #player_b_stats table,
article #content #right #player_b_stats table {
  width: 100%;
  height: 200pt;
}
article #content #left #player_a_stats #player_a_plot,
article #content #right #player_a_stats #player_a_plot,
article #content #left #player_b_stats #player_a_plot,
article #content #right #player_b_stats #player_a_plot,
article #content #left #player_a_stats #player_b_plot,
article #content #right #player_a_stats #player_b_plot,
article #content #left #player_b_stats #player_b_plot,
article #content #right #player_b_stats #player_b_plot {
  height: 50pt;
  width: 200pt;
}
article #content #team_a input,
article #content #team_b input {
  border: none;
}
article #content #goals {
  text-align: center;
}
article #content #field {
  width: 100%;
  display: table-cell;
}
article #content #heatmap {
  width: 640px;
  display: table-cell;
}
article #content #heatmap #heatmap_a,
article #content #heatmap #heatmap_b {
  display: inline;
  width: 320px;
}
article #content #heatmap #heatmap_a svg,
article #content #heatmap #heatmap_b svg {
  height: 480px;
  margin: 0 auto;
  vertical-align: bottom;
}
.infobox {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  margin: 1.1pt;
  background: rgba(13, 54, 0, 0.5);
}
.colored_table {
  border-spacing: 0;
}
.colored_table .ui-selectable {
  cursor: pointer;
}
.colored_table .ui-selectable tr:hover {
  background: rgba(238, 232, 213, 0.3);
}
.colored_table tbody td,
.colored_table thead th {
  padding: 0 5pt 0 5pt;
}
.colored_table thead tr th {
  background: rgba(21, 67, 7, 0.5);
}
.colored_table tr:nth-child(2n+1) td {
  background: rgba(21, 67, 7, 0.3);
}
.colored_table tr:nth-child(2n) td {
  background: rgba(13, 54, 0, 0.3);
}
.colored_table tr.ui-selecting td {
  color: #0d3600;
  background: #eee8d5;
}
.colored_table tr.ui-selected td {
  color: #0d3600;
  background: #eee8d5;
}
.ui-button:hover,
.button_hover {
  background: #154307;
  color: #eee8d5;
}
.ui-button:hover svg .colored_icon,
.button_hover svg .colored_icon {
  fill: #eee8d5;
}
.ui-button,
.button {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  background: #0d3600;
  color: #99a193;
  cursor: pointer;
  overflow: hidden;
}
.ui-button svg .colored_icon,
.button svg .colored_icon {
  fill: #99a193;
}
.ui-button:hover,
.button:hover {
  background: #154307;
  color: #eee8d5;
}
.ui-button:hover svg .colored_icon,
.button:hover svg .colored_icon {
  fill: #eee8d5;
}
.radio_menu input[type="radio"] {
  display: none;
}
.radio_menu label {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  background: #0d3600;
  color: #99a193;
  overflow: hidden;
  display: inline;
  border-radius: 5pt 5pt 0 0;
  border-bottom: 0 hidden;
  background: rgba(13, 54, 0, 0.3);
  padding: 0 5pt;
  height: 40px;
  font-size: 40px;
  cursor: pointer;
}
.radio_menu label svg .colored_icon {
  fill: #99a193;
}
.radio_menu label:hover {
  background: #154307;
  color: #eee8d5;
}
.radio_menu label:hover svg .colored_icon {
  fill: #eee8d5;
}
.radio_menu label img,
.radio_menu label svg {
  margin: 0 auto;
  vertical-align: middle;
}
.radio_menu label:hover {
  background: #154307;
  color: #eee8d5;
  border-color: #6a8365;
  background: rgba(106, 131, 101, 0.3);
}
.radio_menu label:hover svg .colored_icon {
  fill: #eee8d5;
}
.radio_menu label:hover label .colored_icon,
.radio_menu label:hover label .colored_icon * {
  stroke: #0d3600;
}
.radio_menu input[type="radio"]:checked + label {
  color: #0d3600;
  background: #6a8365;
}
.radio_menu input[type="radio"]:checked + label .colored_icon,
.radio_menu input[type="radio"]:checked + label .colored_icon * {
  stroke: #0d3600;
}
#startbutton {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  background: #0d3600;
  color: #99a193;
  cursor: pointer;
  left: 50%;
  top: 50%;
  margin: -100pt -100pt;
  padding: 50pt 50pt;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 999;
  overflow: hidden;
  height: 50pt;
  width: 100pt;
}
#startbutton svg .colored_icon {
  fill: #99a193;
}
#startbutton:hover {
  background: #154307;
  color: #eee8d5;
}
#startbutton:hover svg .colored_icon {
  fill: #eee8d5;
}
#startbutton img,
#startbutton svg {
  height: 50pt;
}
#startbutton:hover {
  background: #154307;
  color: #eee8d5;
}
#startbutton:hover svg .colored_icon {
  fill: #eee8d5;
}
html {
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  font-family: DejaVu Sans, Helvetica;
}
header,
footer {
  font-size: 8pt;
}
video {
  display: none;
  width: 100%;
  height: 128pt;
  border: 1pt solid #000;
}
#goals h1 {
  font-size: 19pt;
}
#content {
  display: table-row;
}
#content #right,
#content #left {
  width: 33%;
  display: table-cell;
}
#content #right .team,
#content #left .team {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  margin: 1.1pt;
  background: rgba(13, 54, 0, 0.5);
  border-spacing: 0;
  overflow: auto;
}
#content #right .team .ui-selectable,
#content #left .team .ui-selectable {
  cursor: pointer;
}
#content #right .team .ui-selectable tr:hover,
#content #left .team .ui-selectable tr:hover {
  background: rgba(238, 232, 213, 0.3);
}
#content #right .team tbody td,
#content #left .team tbody td,
#content #right .team thead th,
#content #left .team thead th {
  padding: 0 5pt 0 5pt;
}
#content #right .team thead tr th,
#content #left .team thead tr th {
  background: rgba(21, 67, 7, 0.5);
}
#content #right .team tr:nth-child(2n+1) td,
#content #left .team tr:nth-child(2n+1) td {
  background: rgba(21, 67, 7, 0.3);
}
#content #right .team tr:nth-child(2n) td,
#content #left .team tr:nth-child(2n) td {
  background: rgba(13, 54, 0, 0.3);
}
#content #right .team tr.ui-selecting td,
#content #left .team tr.ui-selecting td {
  color: #0d3600;
  background: #eee8d5;
}
#content #right .team tr.ui-selected td,
#content #left .team tr.ui-selected td {
  color: #0d3600;
  background: #eee8d5;
}
#content #right #player_a_stats,
#content #left #player_a_stats,
#content #right #player_b_stats,
#content #left #player_b_stats {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  margin: 1.1pt;
  background: rgba(13, 54, 0, 0.5);
}
#content #right #player_a_stats table,
#content #left #player_a_stats table,
#content #right #player_b_stats table,
#content #left #player_b_stats table {
  border-spacing: 0;
}
#content #right #player_a_stats table .ui-selectable,
#content #left #player_a_stats table .ui-selectable,
#content #right #player_b_stats table .ui-selectable,
#content #left #player_b_stats table .ui-selectable {
  cursor: pointer;
}
#content #right #player_a_stats table .ui-selectable tr:hover,
#content #left #player_a_stats table .ui-selectable tr:hover,
#content #right #player_b_stats table .ui-selectable tr:hover,
#content #left #player_b_stats table .ui-selectable tr:hover {
  background: rgba(238, 232, 213, 0.3);
}
#content #right #player_a_stats table tbody td,
#content #left #player_a_stats table tbody td,
#content #right #player_b_stats table tbody td,
#content #left #player_b_stats table tbody td,
#content #right #player_a_stats table thead th,
#content #left #player_a_stats table thead th,
#content #right #player_b_stats table thead th,
#content #left #player_b_stats table thead th {
  padding: 0 5pt 0 5pt;
}
#content #right #player_a_stats table thead tr th,
#content #left #player_a_stats table thead tr th,
#content #right #player_b_stats table thead tr th,
#content #left #player_b_stats table thead tr th {
  background: rgba(21, 67, 7, 0.5);
}
#content #right #player_a_stats table tr:nth-child(2n+1) td,
#content #left #player_a_stats table tr:nth-child(2n+1) td,
#content #right #player_b_stats table tr:nth-child(2n+1) td,
#content #left #player_b_stats table tr:nth-child(2n+1) td {
  background: rgba(21, 67, 7, 0.3);
}
#content #right #player_a_stats table tr:nth-child(2n) td,
#content #left #player_a_stats table tr:nth-child(2n) td,
#content #right #player_b_stats table tr:nth-child(2n) td,
#content #left #player_b_stats table tr:nth-child(2n) td {
  background: rgba(13, 54, 0, 0.3);
}
#content #right #player_a_stats table tr.ui-selecting td,
#content #left #player_a_stats table tr.ui-selecting td,
#content #right #player_b_stats table tr.ui-selecting td,
#content #left #player_b_stats table tr.ui-selecting td {
  color: #0d3600;
  background: #eee8d5;
}
#content #right #player_a_stats table tr.ui-selected td,
#content #left #player_a_stats table tr.ui-selected td,
#content #right #player_b_stats table tr.ui-selected td,
#content #left #player_b_stats table tr.ui-selected td {
  color: #0d3600;
  background: #eee8d5;
}
#content #center #gametrack {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  margin: 1.1pt;
  background: rgba(13, 54, 0, 0.5);
  margin-top: 2pt;
  padding: 5pt;
  height: 42pt;
}
#content #center #gametrack #image {
  margin: 0 auto;
}
#content #center #gametrack #image #start,
#content #center #gametrack #image #cur,
#content #center #gametrack #image #mid,
#content #center #gametrack #image #end {
  stroke: white;
  stroke-width: 1pt;
}
#content #center #gametrack #image #centerline {
  stroke: white;
  stroke-width: 3pt;
}
#content #center #perspectives_menu {
  width: 100%;
  padding: 0;
  margin: 5pt 5pt 2pt 5pt;
}
#content #center #perspectives_menu input[type="radio"] {
  display: none;
}
#content #center #perspectives_menu label {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  background: #0d3600;
  color: #99a193;
  overflow: hidden;
  display: inline;
  border-radius: 5pt 5pt 0 0;
  border-bottom: 0 hidden;
  background: rgba(13, 54, 0, 0.3);
  padding: 0 5pt;
  height: 40px;
  font-size: 40px;
  cursor: pointer;
}
#content #center #perspectives_menu label svg .colored_icon {
  fill: #99a193;
}
#content #center #perspectives_menu label:hover {
  background: #154307;
  color: #eee8d5;
}
#content #center #perspectives_menu label:hover svg .colored_icon {
  fill: #eee8d5;
}
#content #center #perspectives_menu label img,
#content #center #perspectives_menu label svg {
  margin: 0 auto;
  vertical-align: middle;
}
#content #center #perspectives_menu label:hover {
  background: #154307;
  color: #eee8d5;
  border-color: #6a8365;
  background: rgba(106, 131, 101, 0.3);
}
#content #center #perspectives_menu label:hover svg .colored_icon {
  fill: #eee8d5;
}
#content #center #perspectives_menu label:hover label .colored_icon,
#content #center #perspectives_menu label:hover label .colored_icon * {
  stroke: #0d3600;
}
#content #center #perspectives_menu input[type="radio"]:checked + label {
  color: #0d3600;
  background: #6a8365;
}
#content #center #perspectives_menu input[type="radio"]:checked + label .colored_icon,
#content #center #perspectives_menu input[type="radio"]:checked + label .colored_icon * {
  stroke: #0d3600;
}
#content #center #field,
#content #center #heatmap {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  margin: 1.1pt;
  background: rgba(13, 54, 0, 0.5);
}
#content #center #commentator {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  margin: 1.1pt;
  background: rgba(13, 54, 0, 0.5);
  text-align: center;
}
