/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* light is default mode, so pair with general html definition */
.light {
  background-color: #fdf6e3;
  color: #6a8365;
}
.light * {
  color: #6a8365;
}
.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6 {
  color: #5e7658;
  border-color: #6a8365;
}
.light a,
.light a:active,
.light a:visited {
  color: #5e7658;
}
html,
.dark {
  background-color: #0d3600;
  color: #8a9684;
}
html *,
.dark * {
  color: #8a9684;
}
html h1,
.dark h1,
html h2,
.dark h2,
html h3,
.dark h3,
html h4,
.dark h4,
html h5,
.dark h5,
html h6,
.dark h6 {
  color: #99a193;
  border-color: #8a9684;
}
html a,
.dark a,
html a:active,
.dark a:active,
html a:visited,
.dark a:visited {
  color: #99a193;
}
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}
li {
  list-style: none;
}
article {
  display: table;
  width: 100%;
}
#content {
  display: table-row;
}
#team_a,
#team_b {
  height: 240pt;
  width: 100%;
  vertical-align: top;
}
#team_a .smallinfo img,
#team_b .smallinfo img {
  max-height: 16pt !important;
  max-width: 16pt;
}
#team_a input,
#team_b input {
  border: none;
}
#goals {
  text-align: center;
}
#left {
  width: 33%;
  display: table-cell;
}
#right {
  width: 33%;
  display: table-cell;
}
#field {
  display: table-cell;
}
.infobox {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  background: rgba(13, 54, 0, 0.5);
}
.colored_table {
  cursor: pointer;
  border-spacing: 0;
}
.colored_table tbody td,
.colored_table thead th {
  padding: 0 5pt 0 5pt;
}
.colored_table tbody tr:nth-child(2n+1) td {
  background: rgba(21, 67, 7, 0.3);
}
.colored_table tbody tr:nth-child(2n) td {
  background: rgba(13, 54, 0, 0.3);
}
.colored_table tbody tr.ui-selecting td {
  color: #0d3600;
  background: #eee8d5;
}
.colored_table tbody tr.ui-selected td {
  color: #0d3600;
  background: #eee8d5;
}
.colored_table thead tr th {
  background: rgba(21, 67, 7, 0.5);
}
.ui-button,
.button {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  background: #0d3600 url("img/gradient.png") repeat-x;
  color: #99a193;
  cursor: pointer;
  overflow: hidden;
}
.ui-button:hover,
.button_hover {
  background: #154307;
  color: #eee8d5;
}
.radio_menu input[type="radio"] {
  display: none;
}
.radio_menu label {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  border-radius: 5pt 5pt 0 0;
  border-bottom: 0 hidden;
  background: rgba(13, 54, 0, 0.3);
  padding: 0 5pt;
  cursor: pointer;
}
.radio_menu label:hover {
  border-color: #6a8365;
  background: rgba(106, 131, 101, 0.3);
}
.radio_menu input[type="radio"]:checked + label {
  color: #0d3600;
  background: #6a8365;
}
#startbutton {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  background: #0d3600 url("img/gradient.png") repeat-x;
  color: #99a193;
  cursor: pointer;
  left: 50%;
  top: 50%;
  margin: -100pt -100pt;
  padding: 50pt 50pt;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 999;
  overflow: hidden;
  height: 50pt;
  width: 100pt;
}
#startbutton:hover {
  background: #154307;
  color: #eee8d5;
}
html {
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  font-family: DejaVu Sans, Helvetica;
}
header,
footer {
  font-size: 8pt;
}
video {
  display: none;
  width: 100%;
  height: 128pt;
  border: 1pt solid #000;
}
#goals h1 {
  font-size: 19pt;
}
#field {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  background: rgba(13, 54, 0, 0.5);
}
#content {
  display: table-row;
}
#content #right,
#content #left {
  width: 33%;
  display: table-cell;
}
#content #right .team,
#content #left .team {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  background: rgba(13, 54, 0, 0.5);
  margin: 2pt;
  cursor: pointer;
  border-spacing: 0;
  overflow: auto;
}
#content #right .team tbody td,
#content #left .team tbody td,
#content #right .team thead th,
#content #left .team thead th {
  padding: 0 5pt 0 5pt;
}
#content #right .team tbody tr:nth-child(2n+1) td,
#content #left .team tbody tr:nth-child(2n+1) td {
  background: rgba(21, 67, 7, 0.3);
}
#content #right .team tbody tr:nth-child(2n) td,
#content #left .team tbody tr:nth-child(2n) td {
  background: rgba(13, 54, 0, 0.3);
}
#content #right .team tbody tr.ui-selecting td,
#content #left .team tbody tr.ui-selecting td {
  color: #0d3600;
  background: #eee8d5;
}
#content #right .team tbody tr.ui-selected td,
#content #left .team tbody tr.ui-selected td {
  color: #0d3600;
  background: #eee8d5;
}
#content #right .team thead tr th,
#content #left .team thead tr th {
  background: rgba(21, 67, 7, 0.5);
}
#content #right #player_a_stats,
#content #left #player_a_stats,
#content #right #player_b_stats,
#content #left #player_b_stats {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  background: rgba(13, 54, 0, 0.5);
  margin: 2pt;
}
#content #right #player_a_stats table,
#content #left #player_a_stats table,
#content #right #player_b_stats table,
#content #left #player_b_stats table {
  cursor: pointer;
  border-spacing: 0;
  width: 100%;
  height: 200pt;
}
#content #right #player_a_stats table tbody td,
#content #left #player_a_stats table tbody td,
#content #right #player_b_stats table tbody td,
#content #left #player_b_stats table tbody td,
#content #right #player_a_stats table thead th,
#content #left #player_a_stats table thead th,
#content #right #player_b_stats table thead th,
#content #left #player_b_stats table thead th {
  padding: 0 5pt 0 5pt;
}
#content #right #player_a_stats table tbody tr:nth-child(2n+1) td,
#content #left #player_a_stats table tbody tr:nth-child(2n+1) td,
#content #right #player_b_stats table tbody tr:nth-child(2n+1) td,
#content #left #player_b_stats table tbody tr:nth-child(2n+1) td {
  background: rgba(21, 67, 7, 0.3);
}
#content #right #player_a_stats table tbody tr:nth-child(2n) td,
#content #left #player_a_stats table tbody tr:nth-child(2n) td,
#content #right #player_b_stats table tbody tr:nth-child(2n) td,
#content #left #player_b_stats table tbody tr:nth-child(2n) td {
  background: rgba(13, 54, 0, 0.3);
}
#content #right #player_a_stats table tbody tr.ui-selecting td,
#content #left #player_a_stats table tbody tr.ui-selecting td,
#content #right #player_b_stats table tbody tr.ui-selecting td,
#content #left #player_b_stats table tbody tr.ui-selecting td {
  color: #0d3600;
  background: #eee8d5;
}
#content #right #player_a_stats table tbody tr.ui-selected td,
#content #left #player_a_stats table tbody tr.ui-selected td,
#content #right #player_b_stats table tbody tr.ui-selected td,
#content #left #player_b_stats table tbody tr.ui-selected td {
  color: #0d3600;
  background: #eee8d5;
}
#content #right #player_a_stats table thead tr th,
#content #left #player_a_stats table thead tr th,
#content #right #player_b_stats table thead tr th,
#content #left #player_b_stats table thead tr th {
  background: rgba(21, 67, 7, 0.5);
}
#content #center #gametrack {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  background: rgba(13, 54, 0, 0.5);
  margin-top: 2pt;
  padding: 5pt;
  height: 42pt;
}
#content #center #gametrack #image {
  margin: 0 auto;
}
#content #center #gametrack #image #start,
#content #center #gametrack #image #cur,
#content #center #gametrack #image #mid,
#content #center #gametrack #image #end {
  stroke: #fdf6e3;
  stroke-width: 1pt;
}
#content #center #gametrack #image #centerline {
  stroke: #fdf6e3;
  stroke-width: 3pt;
}
#content #center #perspectives_menu {
  width: 100%;
  padding: 0;
  margin: 5pt 5pt 0 5pt;
}
#content #center #perspectives_menu input[type="radio"] {
  display: none;
}
#content #center #perspectives_menu label {
  -webkit-border-radius: 5pt;
  -moz-border-radius: 5pt;
  -ms-border-radius: 5pt;
  -o-border-radius: 5pt;
  border-radius: 5pt;
  border: #6a8365 1pt solid;
  border-radius: 5pt 5pt 0 0;
  border-bottom: 0 hidden;
  background: rgba(13, 54, 0, 0.3);
  padding: 0 5pt;
  cursor: pointer;
}
#content #center #perspectives_menu label:hover {
  border-color: #6a8365;
  background: rgba(106, 131, 101, 0.3);
}
#content #center #perspectives_menu input[type="radio"]:checked + label {
  color: #0d3600;
  background: #6a8365;
}
